<nav>
  <ul class="navigation">
    <li><a href='/font'>Home</a></li>
    <li><a href='/notes'>my notes</a></li>
    <li><a href='/font/savedFonts'>my fonts</a></li>
    <!-- <li><a href='/font'>See fonts</a></li> -->
    <li><a href='/notes/add'>Add a note</a></li>
    <!-- <li><a href='/auth/login'>Login</a></li>
    <li><a href='/auth/register'>Register</a></li> -->
    <li><a href='/font/savedFonts'>Profile</a></li>
    <li><a href='/auth/logout'>Logout</a></li>
  </ul>
</nav>

