<% include ./partials/boilerplate %>

<div class="home-container">
    <h1><%= message %></h1>
    <div class='welcome-page'>
        <ul class="welcome-buttons">
            <li><a href='/auth/login'>Log in!</a></li>
            <li><a href='/auth/register'>Register</a></li>
        </ul>
    </div>
</div>

<% include ./partials/end %>