<% include ./partials/boilerplate %>

<div class="home-container">
    <div class="fonts-headline">
        <span>f</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>s</span>
    </div>
    <div class='welcome-page'>
         <ul class="welcome-buttons">
            <li><a href='/auth/login'>Log in!</a></li>
            <li><a href='/auth/register'>Register</a></li>
        </ul> 
    </div>
</div>

<% include ./partials/end %>