<% include ../partials/boilerplate %>

<form method='POST' action='/notes'>
  <input name='title' type='text' placeholder='title' />
  <input name='category' type='text' placeholder='category' />
  <input name='description' type='text' placeholder='description'>
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>