<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form class="note-add" method='POST' action='/notes'>
  <input name='title' type='text' placeholder='title' />
  <input name='category' type='text' placeholder='category' />
  <input name='description' type='text' placeholder='description'>
  <input class="button-a" type='submit' value='Submit!' />
</form>

<% include ../partials/end %>