<% include ../partials/boilerplate %>
  <div class="container">
    <% for (let f of font) { %>
      <div class="individual-font">
        <h1><%= f.family %></h1>
          <a>
            <button onclick='sendToDB(font)' )>Add</button>
          </a>
      </div>
    <% } %>
  </div>


<script src='/src/jquery.js'></script> 
 <script src='/src/main.js'></script> 
 
   

</body>

</html>
